Repository luxass/lesetid, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: lesetid, pkg: remark-lesetid, apps: www, example

.github/labeler.yml:

# See https://github.com/actions/labeler

"pkg: lesetid":
  - any:
      - packages/lesetid/**

"pkg: remark-lesetid":
  - any:
      - packages/remark-lesetid/**

"apps: www":
  - any:
      - apps/www

example:
  - any:
      - "examples/**/*"
      - "!examples/**/package.json"

Update mosaic.toml
  .github/mosaic.toml
Labels: none

Update mosaic.toml
  .github/mosaic.toml
Labels: none

Update mosaic.toml
  .github/mosaic.toml
Labels: none

Update mosaic.toml
  .github/mosaic.toml
Labels: none

Update mosaic.toml
  .github/mosaic.toml
Labels: none

chore: update deps
  apps/www/package.json
  examples/with-astro/package.json
  examples/with-next/package.json
  examples/with-nuxt/package.json
  package.json
  packages/lesetid/package.json
  packages/remark-lesetid/package.json
  pnpm-lock.yaml
Labels: pkg: lesetid, pkg: remark-lesetid

chore: pin vfile to 6.0.1
  packages/remark-lesetid/package.json
  pnpm-lock.yaml
Labels: pkg: remark-lesetid

chore: add version to root
  package.json
Labels: none

feat(www): use netlify
  apps/www/nuxt.config.ts
Labels: none

fix(astro-example): use string for iconUrl
  examples/with-astro/.lesetid/example.json
Labels: example

fix(astro-example): update logo
  examples/with-astro/.lesetid/astro.svg
  examples/with-astro/.lesetid/example.json
Labels: example

refactor(www): use new nuxt features & cleanup
  apps/www/app/app.vue
  apps/www/app/assets/css/tailwind.css
  apps/www/app/components/Examples.server.vue
  apps/www/app/components/Header.vue
  apps/www/app/components/Select.vue
  apps/www/app/components/Toolbar.vue
  apps/www/app/error.vue
  apps/www/app/pages/examples/[example].vue
  apps/www/app/pages/examples/index.vue
  apps/www/app/pages/index.vue
  apps/www/components/ColorMode.vue
  apps/www/netlify.toml
  apps/www/nuxt.config.ts
  apps/www/package.json
  apps/www/pages/examples/[example].vue
  apps/www/pages/examples/index.vue
  apps/www/pages/index.vue
  apps/www/server/api/examples/[example].get.ts
  apps/www/server/api/examples/index.get.ts
  apps/www/server/routes/schema.get.ts
  apps/www/server/utils/schemas.ts
  apps/www/tsconfig.json
  examples/with-nuxt/components/Footer.vue
  examples/with-nuxt/components/PostCard.vue
  examples/with-nuxt/error.vue
  examples/with-nuxt/pages/index.vue
  examples/with-nuxt/pages/posts/[handle].vue
  pnpm-lock.yaml
Labels: example

refactor(nuxt-example): use new nuxt features
  apps/www/package.json
  examples/with-nuxt/app/app.vue
  examples/with-nuxt/app/assets/css/tailwind.css
  examples/with-nuxt/app/components/Footer.vue
  examples/with-nuxt/app/components/Header.vue
  examples/with-nuxt/app/components/PostCard.vue
  examples/with-nuxt/app/error.vue
  examples/with-nuxt/app/layouts/default.vue
  examples/with-nuxt/app/pages/index.vue
  examples/with-nuxt/app/pages/posts/[handle].vue
  examples/with-nuxt/nuxt.config.ts
  examples/with-nuxt/package.json
  pnpm-lock.yaml
Labels: example

chore: debug build ignore
  apps/www/netlify.toml
Labels: none

chore: update netlify ignore
  apps/www/netlify.toml
  examples/with-astro/netlify.toml
  examples/with-next/netlify.toml
  examples/with-nuxt/netlify.toml
Labels: example

chore: remove old astro logo
  examples/with-astro/.lesetid/astro-dark.svg
Labels: example

chore: use --name-only
  apps/www/netlify.toml
  examples/with-astro/netlify.toml
  examples/with-next/netlify.toml
  examples/with-nuxt/netlify.toml
Labels: example

refactor(astro-example): update code
  examples/with-astro/astro.config.ts
  examples/with-astro/package.json
  examples/with-astro/src/components/content/PostCard.astro
  examples/with-astro/src/components/content/mdx/CopyToClipboard.tsx
  examples/with-astro/src/pages/posts/[handle].astro
  examples/with-astro/src/styles/globals.css
Labels: example

chore: inline headers
  apps/www/server/api/examples/index.get.ts
Labels: none

refactor(next-example): align with other examples
  apps/www/tailwind.config.ts
  examples/with-next/app/(blog)/posts/[handle]/page.tsx
  examples/with-next/app/globals.css
  examples/with-next/app/layout.tsx
  examples/with-next/components/Footer.tsx
  examples/with-next/components/PostCard.tsx
Labels: example

fix(www): use refDebounced
  apps/www/app/pages/index.vue
Labels: none

chore: update deps
  apps/www/package.json
  examples/with-astro/package.json
  examples/with-next/package.json
  examples/with-nuxt/package.json
  package.json
  packages/lesetid/package.json
  packages/remark-lesetid/package.json
  pnpm-lock.yaml
Labels: pkg: lesetid, pkg: remark-lesetid

docs(changeset): updated dependencies
  .changeset/tall-ghosts-jam.md
Labels: none

chore: lint
  apps/www/articles/nuxt.md
  apps/www/server/api/examples/index.get.ts
  examples/with-astro/astro.config.ts
  examples/with-astro/remark-plugins/asides.ts
  examples/with-astro/src/components/content/PostCard.astro
  examples/with-astro/src/components/content/mdx/Code.astro
  examples/with-astro/src/components/content/mdx/CopyToClipboard.tsx
  examples/with-astro/src/components/content/mdx/Pre.astro
  examples/with-astro/src/components/layout/Footer.astro
  examples/with-astro/src/components/layout/Header.astro
  examples/with-astro/src/components/ui/Link.astro
  examples/with-astro/src/layouts/PageLayout.astro
  examples/with-astro/src/pages/index.astro
  examples/with-astro/src/pages/posts/[handle].astro
  examples/with-next/app/(blog)/posts/[handle]/page.tsx
  examples/with-next/components/Footer.tsx
  examples/with-next/components/Header.tsx
  examples/with-next/components/Notification.tsx
  examples/with-next/components/PostCard.tsx
  examples/with-next/lib/content.ts
  examples/with-nuxt/server/routes/sitemap.xml.ts
  examples/with-nuxt/types.ts
  packages/lesetid/src/index.ts
  packages/lesetid/src/stream.ts
  packages/remark-lesetid/README.md
  packages/remark-lesetid/src/astro.ts
  packages/remark-lesetid/src/index.ts
Labels: pkg: lesetid, pkg: remark-lesetid, example

chore: remove unused environment variables from CI and release workflows
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: none

Delete .github/mosaic.toml
  .github/mosaic.toml
Labels: none

chore: update pnpm
  apps/www/package.json
  examples/with-astro/package.json
  examples/with-next/package.json
  examples/with-nuxt/package.json
  package.json
  packages/lesetid/package.json
  packages/remark-lesetid/package.json
Labels: pkg: lesetid, pkg: remark-lesetid

chore: move to pnpm catalog
  apps/www/package.json
  examples/with-astro/package.json
  examples/with-next/package.json
  examples/with-nuxt/package.json
  package.json
  packages/lesetid/package.json
  packages/remark-lesetid/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg: lesetid, pkg: remark-lesetid

chore: update deps
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: update deps
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: update deps
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: update deps
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: lint
  apps/www/app/components/Toolbar.vue
Labels: none

chore: update deps (#116)
  apps/www/app/components/Toolbar.vue
  apps/www/package.json
  examples/with-astro/package.json
  examples/with-next/package.json
  examples/with-nuxt/package.json
  package.json
  packages/lesetid/package.json
  packages/remark-lesetid/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg: lesetid, pkg: remark-lesetid

chore: remove tui from turbo config
  turbo.json
Labels: none

chore: cleanup workspace
  package.json
  pnpm-workspace.yaml
Labels: none

chore: remove devcontainer & gitpod files
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/example-welcome-message.txt
  .devcontainer/examples.Dockerfile
  .devcontainer/examples/with-astro/devcontainer.json
  .devcontainer/examples/with-next/devcontainer.json
  .devcontainer/examples/with-nuxt/devcontainer.json
  .devcontainer/welcome-message.txt
  .devcontainer/www/devcontainer.json
  .gitpod/gitpod-setup.sh
Labels: none

chore: move website to root
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  www/LICENSE
  www/README.md
  www/app/app.vue
  www/app/assets/css/tailwind.css
  www/app/components/Examples.server.vue
  www/app/components/Header.vue
  www/app/components/Select.vue
  www/app/components/Toolbar.vue
  www/app/error.vue
  www/app/pages/examples/[example].vue
  www/app/pages/examples/index.vue
  www/app/pages/index.vue
  www/articles/README.md
  www/articles/netlify-story.md
  www/articles/nuxt.md
  www/articles/vercel-story.md
  www/articles/vue.md
  www/eslint.config.js
  www/netlify.toml
  www/nuxt.config.ts
  www/package.json
  www/public/favicon.ico
  www/public/favicon.png
  www/public/favicon.svg
  www/public/og-image.png
  www/server/api/examples/[example].get.ts
  www/server/api/examples/index.get.ts
  www/server/api/texts.get.ts
  www/server/routes/schema.get.ts
  www/server/tsconfig.json
  www/server/utils/schemas.ts
  www/tailwind.config.ts
  www/tsconfig.json
  www/types/example.ts
  www/vercel.json
Labels: none

fix(www): change preset
  www/nuxt.config.ts
Labels: none

chore: allow esbuild to be builded on install
  package.json
Labels: none
