Repository luxass/lesetid, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: lesetid, pkg: remark-lesetid, apps: www, example

chore: upgrade dependencies
  apps/www/package.json
  examples/with-astro/package.json
  examples/with-next/package.json
  examples/with-nuxt/package.json
  package.json
  packages/lesetid/package.json
  packages/remark-lesetid/package.json
  pnpm-lock.yaml
Labels: pkg: lesetid, pkg: remark-lesetid

fix(next-example): remove contentlayer
  examples/with-next/contentlayer.config.ts
  examples/with-next/package.json
  pnpm-lock.yaml
Labels: example

chore: lint
  apps/www/app.vue
  apps/www/components/ColorMode.vue
  apps/www/components/Header.vue
  apps/www/components/Select.vue
  apps/www/components/Toolbar.vue
  apps/www/error.vue
  apps/www/pages/examples/[example].vue
  apps/www/pages/examples/index.vue
  apps/www/pages/index.vue
  examples/with-next/package.json
  examples/with-nuxt/app.vue
  examples/with-nuxt/components/Footer.vue
  examples/with-nuxt/components/Header.vue
  examples/with-nuxt/components/PostCard.vue
  examples/with-nuxt/error.vue
  examples/with-nuxt/pages/index.vue
  examples/with-nuxt/pages/posts/[handle].vue
  turbo.json
Labels: example

refactor(next-example): migrate from contentlayer
  examples/with-next/app/(blog)/layout.tsx
  examples/with-next/app/(blog)/page.tsx
  examples/with-next/app/(blog)/posts/[handle]/page.tsx
  examples/with-next/components/Header.tsx
  examples/with-next/components/PostCard.tsx
  examples/with-next/components/mdx/Code.tsx
  examples/with-next/components/mdx/MDXComponents.tsx
  examples/with-next/next.config.mjs
  examples/with-next/tailwind.config.ts
Labels: example

fix(next-example): use correct date in sitemap
  examples/with-next/app/sitemap.ts
  examples/with-next/tsconfig.json
Labels: example

chore: lint
  examples/with-next/app/(blog)/page.tsx
  examples/with-next/app/(blog)/posts/[handle]/page.tsx
  examples/with-next/components/PostCard.tsx
  examples/with-next/next.config.mjs
Labels: example

chore: lint
  examples/with-next/app/(blog)/posts/[handle]/page.tsx
Labels: example

fix(next-example): remove markdown-style guide
  examples/with-next/content/markdown-style-guide.mdx
Labels: example

fix(remark-lesetid): estimate text one time instead of each text node
  .changeset/shy-coins-wait.md
  packages/remark-lesetid/src/index.ts
Labels: pkg: remark-lesetid

fix(nuxt-example): set empty slot in content renderer
  examples/with-nuxt/pages/posts/[handle].vue
Labels: example

fix(nuxt-example): move content into folder
  examples/with-nuxt/content/posts/first-post.mdx
  examples/with-nuxt/content/posts/markdown-style-guide.mdx
  examples/with-nuxt/content/posts/second-post.mdx
  examples/with-nuxt/content/posts/third-post.mdx
  examples/with-nuxt/pages/posts/[handle].vue
Labels: example

chore: update dependencies
  apps/www/package.json
  examples/with-astro/package.json
  examples/with-next/package.json
  examples/with-nuxt/package.json
  package.json
  packages/lesetid/package.json
  packages/remark-lesetid/package.json
Labels: pkg: lesetid, pkg: remark-lesetid

chore: update dependencies
  turbo.json
Labels: none

chore: update dependencies
  pnpm-lock.yaml
Labels: none

chore: update dependencies
  examples/with-astro/remark-plugins/asides.ts
  examples/with-astro/src/components/ui/Link.astro
  examples/with-astro/src/pages/index.astro
Labels: example

dump
  examples/with-astro/eslint.config.js
  examples/with-next/app/(blog)/page.tsx
  examples/with-next/eslint.config.js
  examples/with-next/package.json
  pnpm-lock.yaml
  turbo.json
Labels: example

dump
  examples/with-next/app/(blog)/posts/[handle]/page.tsx
Labels: example

chore: add @luxass to codeowners
  .github/CODEOWNERS
Labels: none

chore: update dependencies
  apps/www/package.json
  examples/with-astro/package.json
  examples/with-next/package.json
  examples/with-nuxt/package.json
  package.json
  pnpm-lock.yaml
Labels: none

fix(nuxt-example): update type import
  examples/with-nuxt/types.ts
Labels: example

fix(www): resolve issues with valibot schema
  apps/www/server/utils/schemas.ts
  apps/www/types/example.ts
Labels: none

fix(astro-example): migrate to themes
  examples/with-astro/astro.config.ts
Labels: example

chore: add changeset
  .changeset/tame-otters-float.md
Labels: none

chore: add react hooks eslint plugin
  examples/with-next/package.json
  pnpm-lock.yaml
Labels: none

refactor: enhanced monorepo experience
  .npmrc
  examples/with-nuxt/eslint.config.mjs
  examples/with-nuxt/nuxt.config.ts
  examples/with-nuxt/package.json
  package.json
  packages/lesetid/eslint.config.mjs
  packages/lesetid/package.json
  packages/remark-lesetid/eslint.config.mjs
  packages/remark-lesetid/package.json
  pnpm-lock.yaml
  tsconfig.json
  turbo.json
Labels: pkg: lesetid, pkg: remark-lesetid, example

chore: more corrections
  .changeset/config.json
  .npmrc
  apps/www/package.json
  examples/with-astro/package.json
  examples/with-next/package.json
  examples/with-nuxt/package.json
  package.json
  packages/remark-lesetid/package.json
  pnpm-lock.yaml
Labels: pkg: remark-lesetid

chore: fix repository urls
  apps/www/package.json
  examples/with-astro/package.json
  examples/with-nuxt/package.json
  package.json
Labels: none

chore: add versions to examples
  examples/with-astro/package.json
  examples/with-next/package.json
  examples/with-nuxt/package.json
Labels: none

more corrections
  examples/with-astro/.stackblitz.mjs
  examples/with-astro/eslint.config.mjs
  examples/with-astro/package.json
  examples/with-next/.stackblitz.mjs
  examples/with-next/eslint.config.mjs
  examples/with-next/package.json
  examples/with-nuxt/.stackblitz.mjs
  examples/with-nuxt/package.json
  pnpm-lock.yaml
Labels: example

chore: more corrections
  apps/www/package.json
  examples/with-astro/src/components/content/PostCard.astro
  examples/with-astro/src/components/content/mdx/Code.astro
  examples/with-astro/src/components/content/mdx/Pre.astro
  examples/with-astro/src/components/layout/Footer.astro
  examples/with-astro/src/components/layout/Header.astro
  examples/with-astro/src/components/ui/Link.astro
  examples/with-astro/src/layouts/PageLayout.astro
  examples/with-astro/src/pages/404.astro
  examples/with-astro/src/pages/index.astro
  examples/with-astro/src/pages/posts/[handle].astro
Labels: example

ci: add windows, macos, linux to test
  .github/workflows/ci.yaml
Labels: none

fix(nuxt-example): add missing dependency
  examples/with-nuxt/package.json
  pnpm-lock.yaml
Labels: none

docs(changeset): cleanup dependencies
  .changeset/six-olives-doubt.md
Labels: none

ci: check for changes in release script
  .github/workflows/release.yaml
Labels: none

Update and rename projectrc.json to mosaic.toml
  .github/mosaic.toml
  .github/projectrc.json
Labels: none

Update mosaic.toml
  .github/mosaic.toml
Labels: none

Update mosaic.toml
  .github/mosaic.toml
Labels: none

Update mosaic.toml
  .github/mosaic.toml
Labels: none

Update mosaic.toml
  .github/mosaic.toml
Labels: none

Update mosaic.toml
  .github/mosaic.toml
Labels: none

.github/labeler.yml:

# See https://github.com/actions/labeler

"pkg: lesetid":
  - any:
      - packages/lesetid/**

"pkg: remark-lesetid":
  - any:
      - packages/remark-lesetid/**

"apps: www":
  - any:
      - apps/www

example:
  - any:
      - "examples/**/*"
      - "!examples/**/package.json"
