Repository luxass/lesetid, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: lesetid, pkg: remark-lesetid, apps: www

.github/labeler.yml:

# See https://github.com/actions/labeler

"pkg: lesetid":
  - changed-files:
      - any-glob-to-any-file: "packages/lesetid/**/*"

"pkg: remark-lesetid":
  - changed-files:
      - any-glob-to-any-file: "packages/remark-lesetid/**/*"

"apps: www":
  - changed-files:
      - any-glob-to-any-file: "www"

example:
  - all:
    - changed-files:
        - any-glob-to-any-file: "examples/**/*"
        - all-globs-to-all-files: "!examples/**/package.json"

chore: sync labels
  .github/workflows/pr-linter.yaml
Labels: none

test(remark-lesetid): add tests (#121)
  .changeset/short-bees-collect.md
  packages/lesetid/test/index.test.ts
  packages/lesetid/test/shared.ts
  packages/lesetid/test/stream.test.ts
  packages/lesetid/test/utils.test.ts
  packages/remark-lesetid/package.json
  packages/remark-lesetid/src/index.ts
  packages/remark-lesetid/test/index.test.ts
  packages/remark-lesetid/tests/index.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg: lesetid, pkg: remark-lesetid

added open with codeanywhere badge to README file
  examples/with-astro/README.md
Labels: none

chore: fix example readmes
  examples/minimal-astro/README.md
  examples/nextjs/README.md
Labels: none

chore: fix readme
  examples/minimal-astro/README.md
  examples/nextjs/README.md
Labels: none

chore: migrate to pnpm catalogs
  examples/minimal-astro/.stackblitz/cleanup.mjs
  examples/minimal-astro/package.json
  examples/nextjs/.stackblitz/cleanup.mjs
  examples/nextjs/package.json
  package.json
  packages/lesetid/package.json
  packages/remark-lesetid/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  www/package.json
Labels: pkg: lesetid, pkg: remark-lesetid

chore: remove unused gitpod
  .gitpod.yml
Labels: none

fix: make cleanup work with catalog
  examples/minimal-astro/.stackblitz/cleanup.mjs
  examples/nextjs/.stackblitz/cleanup.mjs
Labels: none

chore: update deps
  package.json
  packages/lesetid/package.json
  packages/remark-lesetid/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg: lesetid, pkg: remark-lesetid

chore: update deps
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: lint
  packages/lesetid/src/stream.ts
  packages/remark-lesetid/src/astro.ts
  packages/remark-lesetid/src/index.ts
  packages/remark-lesetid/test/index.test.ts
Labels: pkg: lesetid, pkg: remark-lesetid

chore: add funding
  .github/FUNDING.yml
Labels: none

chore: update dependencies in pnpm-workspace.yaml
  package.json
  packages/lesetid/package.json
  packages/remark-lesetid/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg: lesetid, pkg: remark-lesetid

chore: lint
  packages/lesetid/eslint.config.mjs
  packages/lesetid/src/stream.ts
  packages/lesetid/src/utils.ts
  packages/remark-lesetid/eslint.config.mjs
Labels: pkg: lesetid, pkg: remark-lesetid

refactor: reorganize pnpm workspace catalogs and update dependencies
  examples/minimal-astro/package.json
  examples/nextjs/package.json
  package.json
  packages/lesetid/package.json
  packages/remark-lesetid/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  www/package.json
Labels: pkg: lesetid, pkg: remark-lesetid

chore: migrate to workers
  pnpm-lock.yaml
  pnpm-workspace.yaml
  www/astro.config.ts
  www/package.json
  www/src/components/toolbar.astro
  www/tsconfig.json
  www/worker-configuration.d.ts
  www/wrangler.jsonc
Labels: none

fix
  www/wrangler.jsonc
Labels: none

fix
  www/astro.config.ts
Labels: none

chore: add .assetsignore file and update astro.config.ts
  www/.assetsignore
  www/astro.config.ts
Labels: none

fix
  www/public/.assetsignore
Labels: none

fix
  www/wrangler.jsonc
Labels: none

chore: update dependencies in pnpm-workspace.yaml
  package.json
  packages/lesetid/package.json
  packages/remark-lesetid/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg: lesetid, pkg: remark-lesetid

chore: update lockfile
  pnpm-lock.yaml
Labels: none

fix(uno.config.ts): replace presetUno with presetWind4 in configuration
  www/uno.config.ts
Labels: none

docs(changeset): chore: update dependecies
  .changeset/mighty-apples-enjoy.md
Labels: none

feat!: switch to tsdown
  package.json
  packages/lesetid/package.json
  packages/lesetid/tsdown.config.ts
  packages/remark-lesetid/package.json
  packages/remark-lesetid/tsdown.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg: lesetid, pkg: remark-lesetid

docs(changeset): feat: switch to tsdown
  .changeset/yummy-swans-retire.md
Labels: none

feat!: drop support for node 18
  packages/lesetid/package.json
  packages/remark-lesetid/package.json
Labels: pkg: lesetid, pkg: remark-lesetid

docs(changeset): feat!: drop support for node 18
  .changeset/twelve-wolves-sort.md
Labels: none

chore: monorepo maintenance
  package.json
  packages/lesetid/package.json
  packages/lesetid/tsconfig.build.json
  packages/lesetid/tsconfig.json
  packages/lesetid/tsdown.config.ts
  packages/lesetid/turbo.json
  packages/remark-lesetid/eslint.config.mjs
  packages/remark-lesetid/package.json
  packages/remark-lesetid/tsconfig.build.json
  packages/remark-lesetid/tsdown.config.ts
  packages/remark-lesetid/turbo.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tooling/tsconfig/README.md
  tooling/tsconfig/base.build.json
  tooling/tsconfig/base.json
  tooling/tsconfig/package.json
  tsconfig.base.json
  turbo.json
  vitest.config.ts
Labels: pkg: lesetid, pkg: remark-lesetid

chore: add pnpm support to eslint configuration
  packages/lesetid/eslint.config.mjs
  www/eslint.config.mjs
Labels: pkg: lesetid

chore: remove duplicate trailingSlash configuration
  www/astro.config.ts
Labels: none

chore: add turbo configuration file
  www/turbo.json
  www/wrangler.jsonc
Labels: none

fix(stream): refactor constructor to improve options handling
  packages/lesetid/src/stream.ts
Labels: pkg: lesetid

chore(vitest): refactor directory handling for package projects
  vitest.config.ts
Labels: none

fix(vitest): simplify projects configuration
  vitest.config.ts
Labels: none

chore: normalize paths
  vitest.config.ts
Labels: none

chore(vitest): add console logs for debugging aliases and package projects
  vitest.config.ts
Labels: none

fix(vitest): normalize paths for aliases and test includes
  vitest.config.ts
Labels: none

chore(ci): simplify CI configuration by removing OS matrix
  .github/workflows/ci.yaml
  vitest.config.ts
Labels: none
