Repository luxass/lesetid, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: lesetid, pkg: remark-lesetid, apps: www, example

.github/labeler.yml:

# See https://github.com/actions/labeler

"pkg: lesetid":
  - changed-files:
      - any-glob-to-any-file: "packages/lesetid/**/*"

"pkg: remark-lesetid":
  - changed-files:
      - any-glob-to-any-file: "packages/remark-lesetid/**/*"

"apps: www":
  - changed-files:
      - any-glob-to-any-file: "www"

example:
  - changed-files:
      - any-glob-to-any-file:
          - "!examples/**/package.json"
          - "examples/**/*"

chore(remark-lesetid): install remark
  packages/remark-lesetid/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg: remark-lesetid, example

test(remark-lesetid): add tests
  packages/lesetid/test/index.test.ts
  packages/lesetid/test/shared.ts
  packages/lesetid/test/stream.test.ts
  packages/lesetid/test/utils.test.ts
  packages/remark-lesetid/package.json
  packages/remark-lesetid/test/index.test.ts
  packages/remark-lesetid/tests/index.test.ts
  pnpm-lock.yaml
Labels: pkg: lesetid, pkg: remark-lesetid, example

fix(remark-lesetid): extend options with lesetid options
  packages/remark-lesetid/src/index.ts
Labels: pkg: remark-lesetid, example

docs(changeset): fix(remark-lesetid): extend options with lesetid options
  .changeset/short-bees-collect.md
Labels: example

fix(remark-lesetid): extend options with lesetid options (#122)
  .changeset/short-bees-collect.md
  packages/remark-lesetid/src/index.ts
Labels: pkg: remark-lesetid, example
