Repository luxass/lesetid, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: lesetid, pkg: vscode, pkg: remark-lesetid, apps: www, example

chore(astro-example): test netlify adapter
  examples/with-astro/astro.config.ts
  examples/with-astro/package.json
Labels: example

chore(nuxt-example): use netlify preset
  examples/with-nuxt/nuxt.config.ts
Labels: example

chore: update lockfile
  .gitignore
  pnpm-lock.yaml
Labels: none

chore: upgrade dependencies
  apps/www/package.json
  examples/with-astro/package.json
  examples/with-next-contentlayer/package.json
  examples/with-next/package.json
  examples/with-nuxt/package.json
  package.json
  pnpm-lock.yaml
Labels: none

fix(www): update isr for routes
  apps/www/nuxt.config.ts
Labels: none

chore: remove contentlayer example
  .devcontainer/examples/with-next-contentlayer/devcontainer.json
  README.md
  examples/with-next-contentlayer/.codesandbox/Dockerfile
  examples/with-next-contentlayer/.lesetid/example.json
  examples/with-next-contentlayer/.lesetid/nextjs.svg
  examples/with-next-contentlayer/README.md
  examples/with-next-contentlayer/contentlayer.config.ts
  examples/with-next-contentlayer/eslint.config.js
  examples/with-next-contentlayer/next-env.d.ts
  examples/with-next-contentlayer/next.config.mjs
  examples/with-next-contentlayer/package.json
  examples/with-next-contentlayer/postcss.config.cjs
  examples/with-next-contentlayer/public/next.svg
  examples/with-next-contentlayer/public/vercel.svg
  examples/with-next-contentlayer/src/app/(blog)/[...handle]/page.tsx
  examples/with-next-contentlayer/src/app/(blog)/layout.tsx
  examples/with-next-contentlayer/src/app/(blog)/page.tsx
  examples/with-next-contentlayer/src/app/favicon.ico
  examples/with-next-contentlayer/src/app/globals.css
  examples/with-next-contentlayer/src/app/layout.tsx
  examples/with-next-contentlayer/src/app/not-found.tsx
  examples/with-next-contentlayer/src/app/robots.ts
  examples/with-next-contentlayer/src/app/sitemap.ts
  examples/with-next-contentlayer/src/components/Footer.tsx
  examples/with-next-contentlayer/src/components/Header.tsx
  examples/with-next-contentlayer/src/components/Notification.tsx
  examples/with-next-contentlayer/src/components/PostCard.tsx
  examples/with-next-contentlayer/src/components/mdx/Code.tsx
  examples/with-next-contentlayer/src/components/mdx/MDXComponents.tsx
  examples/with-next-contentlayer/src/content/post/test-post.mdx
  examples/with-next-contentlayer/tailwind.config.ts
  examples/with-next-contentlayer/tsconfig.json
  pnpm-lock.yaml
Labels: example

fix(www): add dropdown back
  apps/www/components/Toolbar.vue
  apps/www/pages/index.vue
Labels: none

refactor(examples): layout changes to nuxt example
  .gitattributes
  examples/with-astro/package.json
  examples/with-astro/public/rss/styles.xsl
  examples/with-astro/src/components/content/PostCard.astro
  examples/with-astro/src/components/layout/Footer.astro
  examples/with-astro/src/pages/posts/[handle].astro
  examples/with-astro/src/pages/rss.xml.ts
  examples/with-nuxt/app.vue
  examples/with-nuxt/assets/css/tailwind.css
  examples/with-nuxt/components/ColorMode.vue
  examples/with-nuxt/components/Footer.vue
  examples/with-nuxt/components/Header.vue
  examples/with-nuxt/components/Notification.vue
  examples/with-nuxt/components/PostCard.vue
  examples/with-nuxt/content/first-post.mdx
  examples/with-nuxt/content/markdown-style-guide.mdx
  examples/with-nuxt/content/second-post.mdx
  examples/with-nuxt/content/test-post.md
  examples/with-nuxt/content/third-post.mdx
  examples/with-nuxt/error.vue
  examples/with-nuxt/eslint.config.js
  examples/with-nuxt/layouts/default.vue
  examples/with-nuxt/nuxt.config.ts
  examples/with-nuxt/package.json
  examples/with-nuxt/pages/[handle].vue
  examples/with-nuxt/pages/index.vue
  examples/with-nuxt/pages/posts/[handle].vue
  examples/with-nuxt/public/fonts/dm-sans.woff2
  examples/with-nuxt/server/routes/sitemap.xml.ts
  examples/with-nuxt/styles/global.css
  examples/with-nuxt/tailwind.config.ts
  examples/with-nuxt/types.ts
  examples/with-nuxt/uno.config.ts
  pnpm-lock.yaml
Labels: example

fix(astro): use correct links to posts
  examples/with-astro/astro.config.ts
  examples/with-astro/package.json
  examples/with-astro/src/components/content/PostCard.astro
  pnpm-lock.yaml
  turbo.json
Labels: example

chore(nuxt-example): testing
  examples/with-nuxt/pages/posts/[handle].vue
Labels: example

does this work?
  examples/with-nuxt/nuxt.config.ts
Labels: example

chore: does this work?
  examples/with-astro/netlify.toml
  examples/with-next/netlify.toml
  examples/with-nuxt/netlify.toml
Labels: example

fix(nuxt-example): set icon size to 20
  examples/with-nuxt/components/ColorMode.vue
Labels: example

fix(examples): change build ignore command
  examples/with-astro/netlify.toml
  examples/with-next/netlify.toml
  examples/with-nuxt/netlify.toml
Labels: example

chore(next-example): update
  examples/with-astro/astro.config.ts
  examples/with-next/app/(blog)/layout.tsx
  examples/with-next/app/(blog)/page.tsx
  examples/with-next/app/(blog)/posts/[handle]/page.tsx
  examples/with-next/app/favicon.ico
  examples/with-next/app/globals.css
  examples/with-next/app/layout.tsx
  examples/with-next/app/not-found.tsx
  examples/with-next/app/robots.ts
  examples/with-next/app/sitemap.ts
  examples/with-next/components/Footer.tsx
  examples/with-next/components/Header.tsx
  examples/with-next/components/Notification.tsx
  examples/with-next/components/PostCard.tsx
  examples/with-next/components/mdx/Code.tsx
  examples/with-next/components/mdx/MDXComponents.tsx
  examples/with-next/content/first-post.mdx
  examples/with-next/content/markdown-style-guide.mdx
  examples/with-next/content/second-post.mdx
  examples/with-next/content/third-post.mdx
  examples/with-next/contentlayer.config.ts
  examples/with-next/lib/content.ts
  examples/with-next/next.config.mjs
  examples/with-next/package.json
  examples/with-next/src/app/(blog)/[...handle]/page.tsx
  examples/with-next/src/app/(blog)/page.tsx
  examples/with-next/src/app/globals.css
  examples/with-next/src/components/Footer.tsx
  examples/with-next/src/components/Header.tsx
  examples/with-next/src/components/PostCard.tsx
  examples/with-next/src/content/post/test-post.mdx
  examples/with-next/tailwind.config.ts
  pnpm-lock.yaml
  scripts/update-examples.mjs
Labels: example

fix(remark-lesetid): add better typescript support
  .changeset/clean-cheetahs-pretend.md
  packages/remark-lesetid/README.md
  packages/remark-lesetid/package.json
  packages/remark-lesetid/src/astro.ts
  packages/remark-lesetid/src/index.ts
Labels: pkg: remark-lesetid

chore: update pnpm to npm in readme
  packages/lesetid/README.md
Labels: pkg: lesetid

refactor(astro-example): change ui
  examples/with-astro/package.json
  examples/with-astro/src/components/content/PostCard.astro
  examples/with-astro/src/components/layout/Header.astro
  examples/with-astro/src/components/layout/ThemeIcon.astro
  examples/with-astro/src/layouts/PageLayout.astro
  examples/with-astro/src/pages/index.astro
  examples/with-astro/src/pages/posts/[handle].astro
  examples/with-astro/src/styles/globals.css
  examples/with-astro/tailwind.config.ts
  pnpm-lock.yaml
Labels: example

fix(astro-example): map og image
  examples/with-astro/src/utils.ts
Labels: example

chore(examples): change layout
  apps/www/pages/index.vue
  examples/with-astro/package.json
  examples/with-astro/src/layouts/PageLayout.astro
  examples/with-astro/src/pages/open-graph/[...path].ts
  examples/with-astro/src/pages/posts/[handle].astro
  examples/with-astro/src/utils.ts
  examples/with-next/app/(blog)/posts/[handle]/page.tsx
Labels: example

refactor(examples): change layout
  examples/with-astro/src/layouts/PageLayout.astro
  examples/with-astro/src/pages/404.astro
  examples/with-astro/src/pages/index.astro
  examples/with-astro/src/pages/posts/[handle].astro
  examples/with-nuxt/assets/css/tailwind.css
  examples/with-nuxt/components/ColorMode.vue
  examples/with-nuxt/components/Header.vue
  examples/with-nuxt/components/PostCard.vue
  examples/with-nuxt/layouts/default.vue
  examples/with-nuxt/package.json
  examples/with-nuxt/pages/index.vue
  examples/with-nuxt/pages/posts/[handle].vue
  examples/with-nuxt/tailwind.config.ts
  pnpm-lock.yaml
Labels: example

refactor(examples): change title tags
  examples/with-astro/src/components/content/PostCard.astro
  examples/with-astro/src/pages/index.astro
  examples/with-nuxt/app.vue
  examples/with-nuxt/components/PostCard.vue
  examples/with-nuxt/nuxt.config.ts
  examples/with-nuxt/pages/index.vue
Labels: example

chore: remove vscode
  README.md
  packages/vscode/CHANGELOG.md
  packages/vscode/LICENSE
  packages/vscode/README.md
  packages/vscode/media/icon.png
  packages/vscode/package.json
  packages/vscode/src/configuration.ts
  packages/vscode/src/extension.ts
  packages/vscode/src/log.ts
  packages/vscode/tsconfig.json
  packages/vscode/tsup.config.ts
Labels: pkg: vscode

.github/labeler.yml:

# See https://github.com/actions/labeler

"pkg: lesetid":
  - any:
      - packages/lesetid/**

"pkg: vscode":
  - any:
      - packages/vscode/**

"pkg: remark-lesetid":
  - any:
      - packages/remark-lesetid/**

"apps: www":
  - any:
      - apps/www

example:
  - any:
      - "examples/**/*"
      - "!examples/**/package.json"
