Repository luxass/lesetid, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: lesetid, pkg: vscode, pkg: remark-lesetid, apps: www, example

fix: add gitpod config file
  .gitpod.yml
Labels: none

fix: expose more ports in gitpod
  .gitpod.yml
Labels: none

fix: expose astro port in gitpod
  .gitpod.yml
Labels: none

feat: add gitpod support, fix implement `gitpod` as a provider #11
  examples/astro/.lesetid/example.json
  examples/astro/README.md
  examples/next/.lesetid/example.json
  examples/next/README.md
  examples/nuxt/.lesetid/example.json
  examples/nuxt/README.md
  www/pages/examples/[example].vue
  www/server/routes/schema.get.ts
Labels: apps: www, example

fix: give gitpod setup correct permissions
  .gitpod/gitpod-setup.sh
Labels: none

ci: fix build step
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Labels: none

ci: change name of example workflow
  .github/workflows/example.yml
Labels: none

fix(remark-lesetid): add default export to astro entrypoint
  packages/remark-lesetid/package.json
  packages/remark-lesetid/src/astro.ts
Labels: pkg: remark-lesetid

feat: add basic vscode extension
  .vscode/settings.json
  packages/vscode/package.json
  packages/vscode/src/configuration.ts
  packages/vscode/src/extension.ts
  turbo.json
Labels: pkg: vscode

chore: lint
  packages/vscode/src/extension.ts
Labels: pkg: vscode

fix(www): automatically show new providers
  www/server/utils/schemas.ts
Labels: apps: www

chore: setup changesets
  .changeset/README.md
  .changeset/config.json
  package.json
  pnpm-lock.yaml
Labels: none

chore: lint
  .github/workflows/example.yml
  .github/workflows/label.yml
  examples/astro/package.json
  examples/astro/src/pages/[handle].astro
  examples/next/package.json
  examples/next/src/app/(blog)/[...handle]/page.tsx
  examples/next/src/app/(blog)/page.tsx
  examples/next/src/app/not-found.tsx
  examples/next/src/components/PostCard.tsx
  examples/next/src/components/mdx/Code.tsx
  examples/nuxt/package.json
  examples/nuxt/pages/[handle].vue
  package.json
  packages/lesetid/package.json
  packages/remark-lesetid/package.json
  packages/vscode/package.json
  pnpm-lock.yaml
  turbo.json
  www/package.json
Labels: pkg: lesetid, pkg: vscode, pkg: remark-lesetid, apps: www, example

chore: lockfile maintenance
  pnpm-lock.yaml
Labels: none

chore: lint
  examples/astro/package.json
  examples/next/package.json
  examples/next/src/app/(blog)/[...handle]/page.tsx
  examples/next/src/app/(blog)/page.tsx
  examples/next/src/app/not-found.tsx
  examples/next/src/components/PostCard.tsx
  examples/next/src/components/mdx/Code.tsx
  examples/nuxt/package.json
  package.json
  packages/lesetid/package.json
  packages/remark-lesetid/package.json
  packages/vscode/package.json
  pnpm-lock.yaml
  turbo.json
  www/package.json
Labels: pkg: lesetid, pkg: vscode, pkg: remark-lesetid, apps: www, example

chore: lint
  packages/lesetid/bin/lesetid.mjs
  packages/lesetid/package.json
  packages/lesetid/src/cli.ts
  packages/lesetid/tsup.config.ts
  pnpm-lock.yaml
Labels: pkg: lesetid

chore(deps): upgrade dependencies
  examples/astro/package.json
  examples/next/package.json
  pnpm-lock.yaml
Labels: example

fix(next-example): use correct import for unplugin-icons
  examples/next/next.config.js
Labels: example

fix: removed unused dependencies
  examples/astro/package.json
  examples/nuxt/package.json
  pnpm-lock.yaml
  www/components/Header.vue
  www/nuxt.config.ts
  www/package.json
  www/pages/examples/[example].vue
  www/pages/examples/index.vue
  www/pages/index.vue
  www/plugins/vercel-analytics.ts
Labels: apps: www, example

ci: add release workflow
  .github/workflows/example.yml
  .github/workflows/release.yml
  package.json
  scripts/update-examples.mjs
Labels: none

setup changesets (#15)
  .changeset/README.md
  .changeset/config.json
  .github/workflows/example.yml
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
  scripts/update-examples.mjs
Labels: none

chore: lint
  examples/astro/package.json
  examples/next/package.json
  examples/nuxt/package.json
  package.json
  packages/lesetid/package.json
  packages/remark-lesetid/package.json
  packages/vscode/package.json
  pnpm-lock.yaml
Labels: pkg: lesetid, pkg: vscode, pkg: remark-lesetid, example

chore: update projectrc
  .github/.projectrc.json
Labels: none

chore: update projectrc
  .github/.projectrc.json
Labels: none

.github/labeler.yml:

# See https://github.com/actions/labeler

"pkg: lesetid":
  - packages/lesetid/**

"pkg: vscode":
  - packages/vscode/**

"pkg: remark-lesetid":
  - packages/remark-lesetid/**

"apps: www":
  - www/**

example:
  - examples/**/*
