Repository luxass/lesetid, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: lesetid, pkg: vscode, pkg: remark-lesetid, apps: www, example

.github/labeler.yml:

# See https://github.com/actions/labeler

"pkg: lesetid":
  - packages/lesetid/**

"pkg: vscode":
  - packages/vscode/**

"pkg: remark-lesetid":
  - packages/remark-lesetid/**

"apps: www":
  - www/**

example:
  - examples/**/*

fix: disable building of examples
  package.json
Labels: none

fix: update devcontainer files
  .devcontainer/astro/devcontainer.json
  .devcontainer/nuxt/devcontainer.json
  .devcontainer/www/devcontainer.json
  .vscode/extensions.json
Labels: none

chore: use better names in codespaces
  .devcontainer/astro/devcontainer.json
  .devcontainer/next/devcontainer.json
  .devcontainer/nuxt/devcontainer.json
  examples/astro/.codesandbox/Dockerfile
  examples/next/.codesandbox/Dockerfile
  examples/nuxt/.codesandbox/Dockerfile
Labels: example

fix(www): use vercel edge as preset
  www/nuxt.config.ts
Labels: apps: www

fix: make edge function under 1mb
  examples/astro/package.json
  examples/next/package.json
  package.json
  pnpm-lock.yaml
  www/app.vue
  www/components/OgImage/Base.vue
  www/nuxt.config.ts
  www/package.json
  www/public/og-image.png
Labels: apps: www, example

fix(www): set `appearance-none` on select
  examples/astro/astro.config.ts
  examples/astro/package.json
  pnpm-lock.yaml
  www/components/Select.vue
Labels: apps: www, example

feat(www): add example json schema
  www/server/api/example-schema.get.ts
Labels: apps: www

feat(www): add rewrites
  www/server/api/examples.ts
  www/vercel.json
Labels: apps: www

fix(www): move rewrites to redirects
  www/vercel.json
Labels: apps: www

fix(www): move header into separate component
  www/components/Header.vue
  www/pages/examples.vue
  www/pages/index.vue
Labels: apps: www

fix(examples): use correct schema url
  examples/astro/.lesetid/example.json
  examples/next/.lesetid/example.json
  examples/nuxt/.lesetid/example.json
Labels: example

fix(www): switch order in vercel.json
  www/vercel.json
Labels: apps: www

fix(www): use correct path for examples api
  www/vercel.json
Labels: apps: www

feat(www): extract fetch examples into a composable
  www/composables/useExamples.ts
  www/pages/examples.vue
  www/pages/index.vue
Labels: apps: www

chore: testing isr
  www/nuxt.config.ts
  www/server/api/examples.ts
Labels: apps: www

chore(www): add nitro revalidate
  www/nuxt.config.ts
Labels: apps: www

fix(www): use swr instead of isr
  www/nuxt.config.ts
Labels: apps: www

feat: json examples endpoint
  pnpm-lock.yaml
  www/package.json
  www/server/api/examples.ts
Labels: apps: www

ci: add release workflow
  .github/workflows/release.yml
Labels: none

chore: lint
  www/nuxt.config.ts
Labels: apps: www

chore(examples): use new base url
  examples/astro/.lesetid/example.json
  examples/next/.lesetid/example.json
  examples/nuxt/.lesetid/example.json
Labels: example

chore(www): use vercel rewrites
  www/vercel.json
Labels: apps: www

chore(www): use /schema path
  www/server/routes/example-schema.get.ts
  www/server/routes/schema.get.ts
Labels: apps: www

chore(www): use vercel redirects
  www/vercel.json
Labels: apps: www

chore(www): use vercel rewrites
  www/vercel.json
Labels: apps: www

fix(vscode): use correct vscode types version
  packages/vscode/package.json
  pnpm-lock.yaml
Labels: pkg: vscode

chore(www): use vercel rewrites
  www/vercel.json
Labels: apps: www

chore(www): use vercel rewrites
  www/vercel.json
Labels: apps: www

chore(www): vercel rewrites
  www/vercel.json
Labels: apps: www

chore(www): add handles to .lesetid folders
  examples/astro/.lesetid/example.json
  examples/next/.lesetid/example.json
  examples/nuxt/.lesetid/example.json
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
  www/README.md
  www/server/routes/schema.get.ts
  www/tsconfig.json
  www/vercel.json
Labels: apps: www, example

chore(www): remove rewrites
  www/vercel.json
Labels: apps: www

fix(examples): use path instead of full url
  examples/astro/.lesetid/example.json
  examples/next/.lesetid/example.json
  examples/nuxt/.lesetid/example.json
  www/server/routes/schema.get.ts
Labels: apps: www, example

chore(examples): change providers
  examples/astro/.lesetid/example.json
  examples/next/.lesetid/example.json
  examples/nuxt/.lesetid/example.json
  scripts/update-example-links.ts
  www/server/routes/schema.get.ts
Labels: apps: www, example

feat(www): new example pages
  www/app.vue
  www/components/ExampleCard.vue
  www/components/Toolbar.vue
  www/composables/useCorrectUrl.ts
  www/composables/useExamples.ts
  www/nuxt.config.ts
  www/pages/examples.vue
  www/pages/examples/[example].vue
  www/pages/examples/index.vue
  www/pages/index.vue
  www/server/api/example-schema.get.ts
  www/server/api/examples.ts
  www/server/api/examples/[example].get.ts
  www/server/api/examples/index.get.ts
  www/server/routes/example-schema.get.ts
  www/server/routes/schema.get.ts
  www/server/utils/schemas.ts
  www/types/example.ts
Labels: apps: www

fix(www): use correct url when fetching
  www/app.vue
  www/components/ExampleCard.vue
  www/composables/useCorrectUrl.ts
  www/composables/useExamples.ts
Labels: apps: www

fix: update `update readme links` script
  scripts/update-example-links.ts
Labels: none

fix(remark-lesetid): use correct types
  examples/astro/astro.config.ts
  packages/remark-lesetid/src/astro.ts
  packages/remark-lesetid/src/index.ts
  packages/remark-lesetid/tsup.config.ts
Labels: pkg: remark-lesetid, example

chore: lint
  examples/astro/eslint.config.js
  examples/astro/package.json
  examples/next/.eslintrc.json
  examples/next/eslint.config.js
  examples/next/package.json
  examples/next/src/components/PostCard.tsx
  examples/next/src/components/mdx/Code.tsx
  examples/nuxt/app.vue
  examples/nuxt/error.vue
  examples/nuxt/eslint.config.js
  examples/nuxt/nuxt.config.ts
  examples/nuxt/package.json
  package.json
  packages/lesetid/package.json
  packages/remark-lesetid/package.json
  pnpm-lock.yaml
  turbo.json
  www/nuxt.config.ts
  www/package.json
  www/server/api/examples/index.get.ts
Labels: pkg: lesetid, pkg: remark-lesetid, apps: www, example

fix(www): use $fetch
  www/server/api/examples/index.get.ts
Labels: apps: www

feat: add gitpod
  .gitpod/gitpod-setup.sh
  .vscode/tasks.json
Labels: none
