Repository luxass/lesetid, changes with the labels that .github/labeler.yml gives for each.
All labels: example, ðŸš¨ action, package/lesetid, package/vscode, package/remark-lesetid, www

.github/labeler.yml:

# See https://github.com/actions/labeler

example:
  - examples/**/*

ðŸš¨ action:
  - .github/workflows/**

package/lesetid:
  - packages/lesetid/**

package/vscode:
  - packages/vscode/**

package/remark-lesetid:
  - packages/remark-lesetid/**

www:
  - www/**

ci: changes to example workflow
  .github/workflows/ci.yml
  .github/workflows/example.yml
  scripts/update-example-links.ts
  scripts/update-example-providers.ts
Labels: ðŸš¨ action

chore: testing example workflow
  examples/astro-example/.lesetid/example.json
Labels: example

ci: update workflow
  .github/workflows/example.yml
Labels: ðŸš¨ action

chore: testing
  examples/astro-example/.lesetid/example.json
Labels: example

chore: testing readme links
  examples/astro-example/.lesetid/example.json
Labels: example

chore: update example links
  examples/astro-example/README.md
Labels: example

chore: use correct link
  examples/astro-example/.lesetid/example.json
Labels: example

chore: update example links
  examples/astro-example/README.md
Labels: example

fix(nuxt-example): use correct favicon
  examples/nuxt-example/nuxt.config.ts
Labels: example

chore(nuxt-example): added footer & header
  examples/nuxt-example/components/Footer.vue
  examples/nuxt-example/components/Header.vue
  examples/nuxt-example/pages/index.vue
Labels: example

refactor(next-example): changed the overall structure
  examples/next-example/contentlayer.config.ts
  examples/next-example/package.json
  examples/next-example/public/favicon.svg
  examples/next-example/src/app/(blog)/[...handle]/page.tsx
  examples/next-example/src/app/(blog)/layout.tsx
  examples/next-example/src/app/favicon.ico
  examples/next-example/src/app/globals.css
  examples/next-example/src/app/layout.tsx
  examples/next-example/src/app/not-found.tsx
  examples/next-example/src/app/robots.ts
  examples/next-example/src/app/sitemap.ts
  examples/next-example/src/components/Code.vue
  examples/next-example/src/components/Footer.tsx
  examples/next-example/src/components/Header.tsx
  examples/next-example/src/components/Notification.tsx
  examples/next-example/src/components/PostCard.tsx
  examples/next-example/src/components/mdx/Code.tsx
  examples/next-example/src/components/mdx/MDXComponents.tsx
  examples/next-example/tailwind.config.ts
  pnpm-lock.yaml
Labels: example

ci: update labeler workflow
  .github/workflows/label.yml
Labels: ðŸš¨ action

fix: disable `webpackBuildWorker` warning
  examples/next-example/next.config.js
Labels: example

fix: linting issues
  examples/astro-example/package.json
  examples/nuxt-example/components/Footer.vue
  examples/nuxt-example/package.json
  examples/nuxt-example/pages/index.vue
  package.json
  packages/lesetid/package.json
  packages/remark-lesetid/package.json
  packages/vscode/package.json
  turbo.json
  www/package.json
Labels: example, package/lesetid, package/vscode, package/remark-lesetid, www

fix: use url instead of slug
  examples/next-example/src/app/sitemap.ts
Labels: example

feat: added devcontainer for next-example
  .devcontainer/next-example/devcontainer.json
Labels: none

chore: added titles to stackblitz urls
  examples/astro-example/.lesetid/example.json
  examples/next-example/.lesetid/example.json
  examples/nuxt-example/.lesetid/example.json
  examples/sveltekit-example/.lesetid/example.json
  examples/vite-example/.lesetid/example.json
Labels: example

holy crap....
  .npmrc
  examples/astro-example/package.json
  examples/next-example/package.json
  examples/nuxt-example/.npmrc
  examples/nuxt-example/app.vue
  examples/nuxt-example/components/Header.vue
  examples/nuxt-example/components/PostCard.vue
  examples/nuxt-example/content/test-post.md
  examples/nuxt-example/nuxt.config.ts
  examples/nuxt-example/package.json
  examples/nuxt-example/pages/[handle].vue
  examples/nuxt-example/pages/index.vue
  examples/nuxt-example/styles/global.css
  examples/sveltekit-example/package.json
  examples/vite-example/package.json
  packages/vscode/package.json
  pnpm-lock.yaml
  www/package.json
Labels: example, package/vscode, www

chore: update example links
  examples/astro-example/README.md
  examples/next-example/README.md
  examples/nuxt-example/README.md
  examples/sveltekit-example/README.md
  examples/vite-example/README.md
Labels: example

refactor(examples): change overall examples
  .npmrc
  examples/astro-example/src/pages/[handle].astro
  examples/next-example/src/app/(blog)/[...handle]/page.tsx
  examples/next-example/src/app/(blog)/layout.tsx
  examples/nuxt-example/.lesetid/example.json
  examples/nuxt-example/.npmrc
  examples/nuxt-example/app.vue
  examples/nuxt-example/components/Header.vue
  examples/nuxt-example/components/PostCard.vue
  examples/nuxt-example/content/test-post.md
  examples/nuxt-example/nuxt.config.ts
  examples/nuxt-example/package.json
  examples/nuxt-example/public/fonts/lexend.woff2
  examples/nuxt-example/server/plugins/content.ts
  examples/nuxt-example/styles/global.css
  examples/nuxt-example/types.ts
  examples/nuxt-example/uno.config.ts
  pnpm-lock.yaml
Labels: example

chore: add `monorepo` to .projectrc
  .github/.projectrc
Labels: none

chore: updated projectrc
  .github/.projectrc
Labels: none

chore: testing new update for projectrc
  .github/.projectrc.json
Labels: none
