Repository luxass/lesetid, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: lesetid, pkg: remark-lesetid, apps: www

.github/labeler.yml:

# See https://github.com/actions/labeler

"pkg: lesetid":
  - changed-files:
      - any-glob-to-any-file: "packages/lesetid/**/*"

"pkg: remark-lesetid":
  - changed-files:
      - any-glob-to-any-file: "packages/remark-lesetid/**/*"

"apps: www":
  - changed-files:
      - any-glob-to-any-file: "www"

example:
  - all:
    - changed-files:
        - any-glob-to-any-file: "examples/**/*"
        - all-globs-to-all-files: "!examples/**/package.json"

fix(turbo): set dev task to persistent
  packages/lesetid/turbo.json
  packages/remark-lesetid/turbo.json
  www/turbo.json
Labels: pkg: lesetid, pkg: remark-lesetid

fix(tsconfig): remove unnecessary includes and ensure proper exclusions
  packages/lesetid/tsconfig.build.json
  packages/remark-lesetid/tsconfig.build.json
Labels: pkg: lesetid, pkg: remark-lesetid

chore: rename from .yaml to .yml
  .github/workflows/ci.yml
  .github/workflows/pr-linter.yml
  .github/workflows/release.yml
Labels: none

ci: support OIDC publish
  .github/workflows/release.yml
Labels: none

chore: update dependencies
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

docs(changeset): chore: update dependencies
  .changeset/slimy-taxis-hug.md
Labels: none

chore: update readme
  README.md
Labels: none

chore(ci): update actions/checkout and actions/setup-node versions
  .github/workflows/ci.yml
  .github/workflows/pr-linter.yml
  .github/workflows/release.yml
Labels: none

chore: update dependencies
  package.json
  packages/lesetid/package.json
  packages/remark-lesetid/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg: lesetid, pkg: remark-lesetid

chore: use npm-registry env
  .github/workflows/release.yml
Labels: none

chore: update workflow
  .github/workflows/release.yml
Labels: none

chore(release): restructure release workflow
  .github/workflows/release.yml
Labels: none

docs(changeset): Updated dependencies
  .changeset/big-paths-retire.md
Labels: none

chore(release): update publish condition to include commit message checks
  .github/workflows/release.yml
Labels: none

docs(changeset): chore: update dependencies
  .changeset/common-mirrors-smell.md
Labels: none

chore(release): add check for packages to publish
  .github/workflows/release.yml
Labels: none

docs(changeset): updated dependencies
  .changeset/tidy-llamas-appear.md
Labels: none

chore: update workflow
  .github/workflows/release.yml
Labels: none

chore: update workflow
  .github/workflows/release.yml
Labels: none

docs(changeset): updated dependencies
  .changeset/tasty-wombats-relax.md
Labels: none

chore: revert workflow
  .github/workflows/release.yml
Labels: none

chore(release): refactor release workflow
  .github/workflows/release.yml
Labels: none

docs(changeset): updated dependencies
  .changeset/honest-pets-check.md
Labels: none

chore: update dependencies
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

revert
  .github/workflows/release.yml
Labels: none

chore: update deps
  package.json
  packages/lesetid/package.json
  packages/remark-lesetid/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg: lesetid, pkg: remark-lesetid

docs(changeset): Update package dependencies
  .changeset/mighty-jokes-give.md
Labels: none

chore: update actions
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: none

chore: go back to zod v3
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: update volapyk
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore(deps): update dependencies in `pnpm-workspace.yaml`
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: update actions
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: none

chore: update module exports to use .mjs extension
  packages/lesetid/package.json
Labels: pkg: lesetid

chore: update `exports` to use .mjs extension for module resolution
  packages/remark-lesetid/package.json
Labels: pkg: remark-lesetid

chore: lint
  packages/remark-lesetid/package.json
Labels: pkg: remark-lesetid

chore: update `tsdown.config.ts` to set `exports` to local-only
  packages/lesetid/tsdown.config.ts
  packages/remark-lesetid/tsdown.config.ts
Labels: pkg: lesetid, pkg: remark-lesetid

chore(ci): update workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: none

chore: update dependencies to latest versions
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

docs(changeset): chore: update dependencies
  .changeset/wise-dodos-hide.md
Labels: none

chore: fix bundling
  packages/lesetid/src/utils.ts
  packages/remark-lesetid/tsdown.config.ts
Labels: pkg: lesetid, pkg: remark-lesetid
