Repository luxass/lesetid, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: lesetid, pkg: vscode, pkg: remark-lesetid, apps: www, example

.github/labeler.yml:

# See https://github.com/actions/labeler

"pkg: lesetid":
  - any:
      - packages/lesetid/**

"pkg: vscode":
  - any:
      - packages/vscode/**

"pkg: remark-lesetid":
  - any:
      - packages/remark-lesetid/**

"apps: www":
  - any:
      - apps/www

example:
  - any:
      - "examples/**/*"
      - "!examples/**/package.json"

ci: update release workflow
  .github/workflows/release.yaml
Labels: none

chore: lint
  apps/www/README.md
  apps/www/components/Select.vue
  apps/www/components/Toolbar.vue
  apps/www/nuxt.config.ts
  apps/www/package.json
  apps/www/pages/examples/[example].vue
  apps/www/pages/examples/index.vue
  apps/www/pages/index.vue
  eslint.config.js
  examples/with-astro/README.md
  examples/with-astro/astro.config.ts
  examples/with-astro/package.json
  examples/with-next/package.json
  examples/with-nuxt/package.json
  package.json
  packages/lesetid/README.md
  packages/lesetid/package.json
  packages/remark-lesetid/README.md
  packages/remark-lesetid/package.json
  packages/vscode/README.md
  packages/vscode/package.json
  pnpm-lock.yaml
  turbo.json
Labels: pkg: lesetid, pkg: vscode, pkg: remark-lesetid, example

chore(deps): upgrade dependencies
  .github/workflows/pr-linter.yaml
  .github/workflows/release.yaml
Labels: none

fix: outdated lockfile
  pnpm-lock.yaml
Labels: none

fix: add contentlayer build before typecheck
  examples/with-next-contentlayer/package.json
  examples/with-next/package.json
  package.json
  turbo.json
Labels: none

chore(deps): lockfile maintenance
  pnpm-lock.yaml
Labels: none

ci: use correct package
  turbo.json
Labels: none

ci: use topo in turbo
  turbo.json
Labels: none

ci: run build in typecheck
  turbo.json
Labels: none

will this work?
  turbo.json
Labels: none

will this work?
  apps/www/package.json
  examples/with-astro/package.json
  examples/with-next-contentlayer/package.json
  examples/with-next/package.json
  examples/with-nuxt/package.json
  package.json
  packages/lesetid/package.json
  packages/remark-lesetid/package.json
  packages/vscode/package.json
  turbo.json
Labels: pkg: lesetid, pkg: vscode, pkg: remark-lesetid

chore: update readme
  README.md
Labels: none

chore(deps): upgrade dependencies
  examples/with-next-contentlayer/package.json
  examples/with-next/package.json
  pnpm-lock.yaml
Labels: none

chore(deps): upgrade dependencies
  examples/with-next/package.json
  pnpm-lock.yaml
Labels: none

ci: publish with provenance
  .changeset/early-nails-occur.md
  .github/workflows/release.yaml
Labels: none

chore: add changelog-github dependency
  package.json
  pnpm-lock.yaml
Labels: none

ci: update permission for release workflow
  .github/workflows/release.yaml
  package.json
Labels: none

ci: allow creation of pull requests
  .github/workflows/release.yaml
Labels: none

chore: update projectrc
  .changeset/config.json
  .github/projectrc.json
Labels: none

chore(deps): upgrade dependencies
  apps/www/package.json
  examples/with-astro/package.json
  examples/with-next-contentlayer/package.json
  examples/with-next/package.json
  examples/with-nuxt/package.json
  package.json
  packages/lesetid/package.json
  packages/remark-lesetid/package.json
  packages/vscode/package.json
  pnpm-lock.yaml
Labels: pkg: lesetid, pkg: vscode, pkg: remark-lesetid

fix(www): use vercel instead of vercel-edge
  apps/www/nuxt.config.ts
Labels: none

chore: lint
  eslint.config.js
  examples/with-astro/src/components/Card.astro
  examples/with-astro/src/pages/index.astro
  examples/with-next-contentlayer/eslint.config.js
  examples/with-next-contentlayer/next.config.mjs
  examples/with-next-contentlayer/package.json
  examples/with-next-contentlayer/postcss.config.cjs
  examples/with-next/eslint.config.js
  examples/with-next/next.config.mjs
  examples/with-next/package.json
  examples/with-next/postcss.config.cjs
Labels: example

chore: update projectrc
  .github/projectrc.json
Labels: none

chore: update projectrc
  .github/projectrc.json
Labels: none

chore: fix typo in readme
  README.md
Labels: none

chore: update readme
  packages/remark-lesetid/README.md
Labels: pkg: remark-lesetid

chore: cleanup
  .vscode/settings.json
  apps/www/app.vue
  apps/www/articles/nuxt.md
  apps/www/assets/css/tailwind.css
  apps/www/components/ColorMode.vue
  apps/www/components/Header.vue
  apps/www/components/Select.vue
  apps/www/components/Toolbar.vue
  apps/www/error.vue
  apps/www/eslint.config.js
  apps/www/nuxt.config.ts
  apps/www/package.json
  apps/www/pages/examples/[example].vue
  apps/www/pages/examples/index.vue
  apps/www/pages/index.vue
  apps/www/server/api/examples/[example].get.ts
  apps/www/server/api/examples/index.get.ts
  apps/www/server/api/texts.get.ts
  apps/www/server/routes/schema.get.ts
  apps/www/server/utils/schemas.ts
  apps/www/styles/global.css
  apps/www/tailwind.config.ts
  apps/www/types/example.ts
  apps/www/uno.config.ts
  examples/with-astro/package.json
  examples/with-next-contentlayer/package.json
  examples/with-next/package.json
  examples/with-nuxt/package.json
  package.json
  packages/lesetid/package.json
  packages/remark-lesetid/package.json
  pnpm-lock.yaml
  uno.config.ts
Labels: pkg: lesetid, pkg: remark-lesetid

chore: update lockfile
  pnpm-lock.yaml
Labels: none

chore: lint
  packages/lesetid/README.md
  packages/lesetid/src/index.ts
  packages/lesetid/src/stream.ts
  packages/lesetid/src/types.ts
  packages/lesetid/src/utils.ts
  packages/lesetid/tests/index.test.ts
  packages/lesetid/tests/shared.ts
  packages/lesetid/tests/stream.test.ts
  packages/lesetid/tests/utils.test.ts
  packages/lesetid/tsup.config.ts
Labels: pkg: lesetid

chore: lint
  packages/remark-lesetid/README.md
  packages/remark-lesetid/src/astro.ts
  packages/remark-lesetid/src/index.ts
  packages/remark-lesetid/tests/index.test.ts
  packages/remark-lesetid/tsup.config.ts
Labels: pkg: remark-lesetid

chore: lint
  packages/vscode/src/configuration.ts
  packages/vscode/src/extension.ts
  packages/vscode/src/log.ts
  packages/vscode/tsup.config.ts
Labels: pkg: vscode

chore(www): testing route rules, to hit cache
  apps/www/nuxt.config.ts
Labels: none

does this work?
  apps/www/nuxt.config.ts
Labels: none

chore: rename examples
  examples/with-astro/.lesetid/example.json
  examples/with-next-contentlayer/.lesetid/example.json
  examples/with-next/.lesetid/example.json
  examples/with-nuxt/.lesetid/example.json
Labels: example

fix(www): default to one column
  apps/www/pages/index.vue
Labels: none

fix(examples): use with url
  examples/with-astro/.lesetid/example.json
  examples/with-next-contentlayer/.lesetid/example.json
  examples/with-next/.lesetid/example.json
  examples/with-nuxt/.lesetid/example.json
Labels: example

chore(www): cleanup
  apps/www/components/Header.vue
  apps/www/composables/useExamples.ts
  apps/www/nuxt.config.ts
  apps/www/pages/examples/[example].vue
  apps/www/pages/examples/index.vue
  apps/www/pages/index.vue
  apps/www/server/api/examples/[example].get.ts
  apps/www/server/api/examples/index.get.ts
Labels: none

chore: fix typecheck
  examples/with-nuxt/nuxt.config.ts
Labels: example

fix(www): readd astro example
  apps/www/server/api/examples/[example].get.ts
Labels: none

refactor(astro-example): cleanup
  .gitattributes
  examples/with-astro/astro.config.ts
  examples/with-astro/eslint.config.js
  examples/with-astro/package.json
  examples/with-astro/public/fonts/dm-sans.woff2
  examples/with-astro/public/rss/styles.xsl
  examples/with-astro/remark-plugins/asides.ts
  examples/with-astro/src/components/Card.astro
  examples/with-astro/src/components/Code.vue
  examples/with-astro/src/components/Footer.astro
  examples/with-astro/src/components/Header.astro
  examples/with-astro/src/components/Link.astro
  examples/with-astro/src/components/Notification.astro
  examples/with-astro/src/components/PostCard.astro
  examples/with-astro/src/components/content/PostCard.astro
  examples/with-astro/src/components/content/mdx/Code.astro
  examples/with-astro/src/components/content/mdx/CopyToClipboard.tsx
  examples/with-astro/src/components/content/mdx/Pre.astro
  examples/with-astro/src/components/layout/Footer.astro
  examples/with-astro/src/components/layout/Header.astro
  examples/with-astro/src/components/layout/ThemeIcon.astro
  examples/with-astro/src/components/ui/Link.astro
  examples/with-astro/src/content/config.ts
  examples/with-astro/src/content/posts/first-post.mdx
  examples/with-astro/src/content/posts/markdown-style-guide.mdx
  examples/with-astro/src/content/posts/second-post.mdx
  examples/with-astro/src/content/posts/test-post.mdx
  examples/with-astro/src/content/posts/third-post.mdx
  examples/with-astro/src/layouts/PageLayout.astro
  examples/with-astro/src/pages/[handle].astro
  examples/with-astro/src/pages/index.astro
  examples/with-astro/src/pages/open-graph/[...path].ts
  examples/with-astro/src/pages/rss.xml.ts
  examples/with-astro/src/styles/globals.css
  examples/with-astro/src/utils.ts
  examples/with-astro/tailwind.config.ts
  examples/with-astro/tsconfig.json
  examples/with-astro/uno.config.ts
  pnpm-lock.yaml
Labels: example
